
.groups {
  border-color: 'rgb(51, 51, 51)';
  margin: '2% 12% 0 12%';
  width: "76%";
  height: "50%";
  color: '#fff';
  background: '#333';
  padding: '2%'
}

.row_heading {
  margin: '0 0 2% 0';
  border: '1px solid #fff'
}

.listOfGroupsRows {
  margin: '0 0 2% 0';
  border: '1px solid #fff';
  padding:'5px'
}


/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
